//--------FONTS-------
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');
//------End OF FONTS-------

//-------LIBRARIES--------
@import "../library/defautls";
@import "../library/screens";
//------End of LIBRARIES-------

//----------VARIABLES----------
//primary colors
$CTA-text: hsl(356, 100%, 66%);
$CTA-hover-background: hsl(355, 100%, 74%);
$headings: hsl(208, 49%, 24%);
//Neutral
$text: hsl(0, 0%, 100%);
$footer-text: hsl(240, 2%, 79%);
$body-copy: hsl(207, 13%, 34%);
$footer-background: hsl(240, 10%, 16%);
//Gradient
//Background gradient - Intro/CTA mobile nav:
$bg_very_light_red: hsl(13, 100%, 72%);
$bg_light_red: hsl(353, 100%, 62%);
//Background gradient - body:
$Very_dark_gray_blue: hsl(237, 17%, 21%);
$Very_dark_desaturated_blue: hsl(237, 23%, 32%);

%pseudos {
    --pseudo-transform: none;
}

$gabarit: 0 10px;
//-------END OF VARIABLES------

/*------OVERWRITTEN DEFAULTS--------*/
body {
    font-size: 16px;
    font-family: 'Overpass', 'Ubuntu', sans-serif;
}

a {
    color: $text;
}
/*--------END OF OVERWRITTEN DEFAULTS----*/

//-------MIXINS-------
@mixin row {
    display: flex;
    flex-wrap: wrap;
}

@mixin col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

@mixin after {
    &::after {
        display: inline-block;
        content: url(https://raw.githubusercontent.com/Mido-o/blogr-landing-page-main/d962ba9de426c018bee3dd49fb9830ff27034cee/images/icon-arrow-dark.svg);
        margin-left: 5px;
        transform: var(--pseudo-transform);
        transition: transform 0.5s cubic-bezier(0, 1, 0, 1);
    }
}
//------END OF MIXINS------

/*-----INDEX PAGE-----*/
/*----LAYOUTS----*/
%row {
    @include row;
}

%col {
    @include col;
}
/*----END OF LAYOUTS----*/

/*---classes---*/
.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.arrow {
    @include after;
}
/*---End of classes---*/

/*-----IDs---*/
#State-of-the-Art-Infrastructure {
    background-image: url(https://raw.githubusercontent.com/Mido-o/blogr-landing-page-main/d962ba9de426c018bee3dd49fb9830ff27034cee/images/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-position-x: -106px;
    background-position-y: -224px;
    background-size: 584px;
    background-color: $Very_dark_gray_blue;
    color: $text;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
    margin-top: 205px;
}
/*-----END OF IDs---*/
/*-----TYPES-----*/
header {
    padding: $gabarit;
    background-color: $bg_very_light_red;
    background-image: url(https://raw.githubusercontent.com/Mido-o/blogr-landing-page-main/d962ba9de426c018bee3dd49fb9830ff27034cee/images/bg-pattern-intro.svg);
    background-repeat: no-repeat;
    background-position-x: -466px;
    background-position-y: -562px;
    background-size: 418%;
    border-bottom-left-radius: 80px;

    nav {
        @extend %row;
        justify-content: space-between;
        align-items: center;
        padding: 50px 10%;
        button {
            border: none;
            background: transparent;
            img {
                display: block;
            }
        }
        div {
            position: absolute;
            top: 85px;
            left: 10%;
            width: 80%;
            background-color: white;
            border-radius: 8px;
            text-align: center;
            padding: 0 20px;
            box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.5);
            & > ul {
                margin-top: 20px;
                & > li {
                    a {
                        padding: 10px;
                        display: block;
                        color: $headings;
                    }
                    ul {
                        background-color: #EFEFF1;
                        width: 100%;
                        padding: 0 25px;
                        border-radius: 5px;
                    }
                }
            }
            span {
                display: block;
                border-top: 2px solid #EFEFF1;
                margin-bottom: 20px;
                a {
                    display: block;
                    width: 50%;
                    padding: 10px 25px;
                    margin: 0 auto;
                    color: $headings;
                    font-weight: bold;
                    border-radius: 25px;
                }
                a:nth-of-type(2) {
                    background: linear-gradient(to right, $bg_very_light_red,  $bg_light_red);
                    color: $text;
                }
            }
        }
    }

    section {
        @extend %col;
        align-items: center;
        text-align: center;
        padding-bottom: 10%;
        h2 {
            color: $text;
            width: 80%;
            font-size: 2rem;
        }
        p {
            color: $text;
            width: 78%;
            margin-top: 10px;
        }
        span {
            margin-top: 25px;
            a {
                color: $text;
                font-weight: bold;
                padding: 10px;
                margin: 10px;
                border: 1px solid $text;
                border-radius: 25px;
            }
            a:nth-of-type(1) {
                background-color: white;
                color: $CTA-text;
                &:hover {
                    background-color: $CTA-hover-background;
                    color: $text;
                    border: none;
                }
            }
        }
    }
}

main {
    margin-top: 55px;
    text-align: center;
    section {
        @extend %row;
        justify-content: center;
        margin-top: 55px;
        div {
            padding: 0 36px;
        }
        p {
            color: $body-copy;
        }
    }
    h2, h3 {
        color: $headings;
        margin: 25px 0;
        text-align: center;
    }
}

#State-of-the-Art-Infrastructure {
    img {
        position: relative;
        bottom: 180px;
        margin-bottom: -215px;
    }
    div {
        margin-bottom: 20px;
    }
    h3 {
        color: $text;
        font-size: 2rem;
    }
    p {
        color: $text;
    }
} 

footer {
    background-color: $footer-background;
    color: $text;
    margin-top: 60px;
    text-align: center;
    border-top-right-radius: 50px;
    padding: 25px 0;
    h3 {
        margin: 15px;
    }
    ul {
        @extend %col;
        align-items: center;
    }
    li {
        margin: 5px;
    }
    a {
        color: $footer-text;
        &:hover {
            color: white;
            text-decoration: underline;
            font-weight: bold;
        }
    }
}
/*-----END OF TYPES-----*/
/*------END OF INDEX PAGE---*/

/*-----media queries----*/
@include screen-min(md) {
    header {
        background-position-x: center;
        background-position-y: center;
        background-size: 160%;
        min-height: 45vh;
    }

    footer {
        @include row;
        justify-content: space-evenly;
        align-items: baseline;
    }
}

@include screen-min(lg) {
    header {
        #primary-nav {
            button {
                display: none;
            }
    
            div {
                position: relative;
                top: 0;
                left: 0;
                max-height: 500px;
                @include row;
                justify-content: space-between;
                align-items: center;
                flex: 1;
                margin-left: 5%;
                padding: 0;
                overflow: visible;
                box-shadow: none;
                background-color: transparent;
                & > ul {
                    @include row;
                    margin: 0;
                    & > li {
                        position: relative;
                        & > a {
                            color: white;
                            &::after {
                                content: url(https://raw.githubusercontent.com/Mido-o/blogr-landing-page-main/d962ba9de426c018bee3dd49fb9830ff27034cee/images/icon-arrow-light.svg);
                            }
                        }
                        a:hover {
                            font-weight: bold;
                        }
                        ul {
                            position: absolute;
                            background-color: white;
                            width: 160%;
                            text-align: left;
                            box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.5);
                        }
                    }
                }
                span {
                    border-top: none;
                    margin: 0;
                    a {
                        display: inline;
                        color: white;
                        &:active {
                            background-color: white;
                            color: $CTA-text;
                        }
                    }
                    a:nth-of-type(2) {
                        background: transparent;
                        background-color: white;
                        color: $CTA-text;
                        &:hover {
                            background-color: $CTA-hover-background;
                            color: white;
                        }
                    }
                }
            }
        }
    
        section {
            span {
                a:hover {
                    background-color: $text;
                    color: $CTA-text;
                    font-weight: bold;
                }
            }
        }
    }

    main, main h3 {
        text-align: left;
    }

    main section:nth-of-type(1) {
        flex-direction: row-reverse;
    }

    main section div, main img {
        flex: 1;
        align-self: center;
    }

    main section:nth-of-type(n+2) div {
        padding: 0 36px 0 0;
    }    
}